{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Blogs" %}{% endblock %}

{% block body %}
    <h1>{% trans "All blogs" %}</h1>
    {% if blog_list %}
        {% for blog in blog_list %}
            <div>
                <h2>
                    <a href="/blog/{{ blog.id }}">{{ blog.title }}</a>
                </h2>
                <p>{{ blog.contents }}</p>
                <p>{{ blog.date_created }}</p>
                <p>{{ blog.author }}</p>
                <p>{{ blog.id }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "There is no posts yet" %}</p>
    {% endif %}
{% endblock %}
