{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ blog_details.title }}{% endblock %}

{% block body %}
    <h1>{{ blog_details.title }}</h1>
    <p>{{ blog_details.author }}</p>
    <p>{{ blog_details.date_created }}</p>
    <div>{{ blog_details.contents }}</div>
    <!-- {% if images %} -->
        {% for img in images %}
            <div>
                <img src="{{ img.image.url }}" alt="Uploaded images"/>
            </div>
        {% endfor %}
    <!-- {% else %} -->
    <!-- {% endif %} -->
{% endblock %}
