{% extends "base.html" %}
{% block title %}Массовое добавление блогов{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Массовое добавление блогов</h1>
        <p>Загрузите файл в формате CSV с данными о создаваемых блогах</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form }}
            <button type="submit">Загрузить</button>
        </form>
    {% else %}
        <p>Для публикации блога войдите в систему</p>
    {% endif %}
{% endblock %}
