{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Mass blogs adding" %}{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>{% trans "Mass blogs adding %}</h1>
        <p>{% trans "Upload CSV file with information about blogs that will be created" %}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form }}
            <button type="submit">{% trans "Upload" %}</button>
        </form>
    {% else %}
        <p>{% trans "Please enter the system for publication" %}</p>
    {% endif %}
{% endblock %}
