{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% trans "Blog site" %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>
            {% if request.user %}
                <p>{% trans "Welcome on the site" %}{{ request.user.username }}</p>
            {% else %}
                <p>
                    <a href="/login">{% trans "Login" %}</a> {% trans "or" %}<a href="/register"> {% trans "register" %}</a> {% trans "on the site" %}
                </p>
            {% endif %}
        </div>
        <div>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                <input type="submit" value="Go">
            </form>
        </div>
        <div>
            <p>
                <a href="/login">{% trans "Login" %}</a> <a href="/register">{% trans "Register" %}</a> <a href="/logout">{% trans "Logout" %}</a> <a href="/blog">{% trans "Main page" %}</a>
            </p>
        </div>
        {% block body %}{% endblock %}
        <div id="footer">
            <p>{% trans "Powered by Django" %}</p>
        </div>
    </body>
</html>
