{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create new blog" %}{% endblock %}

{% block body %}
    {% if not request.user.is_authenticated %}
        <p>{% trans "You are not authorisated" %}</p>
    {% else %}
        <h1>{% trans "Create new post for the blog" %} {{ request.user.username }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ blog_form.as_p }}
            {{ file_form.as_p }}
            <button type="submit">{% trans "Create" %}</button>
        </form>
    {% endif %}
{% endblock %}
